body {
}
img {
    max-width: 100%;
}
#header {
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    color: #ff3e00;
}
#header h1 {    
    font-weight: bold;
    text-shadow: -1px -1px orange, 1px 1px brown;
}
/*#logoSylterm {
    max-width: 60%;
}*/
#adres {
    padding: 3em 7%;
    text-shadow: -1px -1px #263238, 1px 1px white;
    color: #455a64;
}
#mapka {
    height: 400px;
}
#mapka h4, #mapka p {
    line-height: 0.5em;
    margin-bottom: 0.4em;
}
#guzik {
    border-radius: 2em;
    border-style: outset;
}
a {
    text-decoration: none;    
}
a:hover {
    text-shadow: 0 0 5px #546e7a;
}
nav {
    padding: 0 10%;
}
#oFirmie {
    padding: 0.5em 10%;
}
#oFirmie h2, #oFirmie p, #partnerzy h2, #realizacje, #oferta {
    color: #546e7a;
    text-shadow: -1px -1px #263238, 1px 1px white;
}
#oFirmie div {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
nav div {
    min-height: 200px;
    padding: 0 2em;
}
.icon {
    margin-top: 2em;
}
footer p {
    padding-left: 1em;
    padding-right: 1em; 
}
#footer-right {
    text-align: right;
}
#partnerzy img {
    margin: 2em;
    max-width: 30%;
}
#partnerzy h2 {
    padding-top: 0.5em;
}
#realizacje {
    margin-top: 0;
    padding: 0.6em 0 0.2em;
}

/*style dla galerii, uwaga na homepage (slider)!*/
#galeria {
    padding-bottom: 0.5em;
}
#galeria .cycle-slideshow {
    max-width: 600px; 
    margin: 0 auto 1em; 
    padding: 0; 
    position: relative;
 }
#galeria .cycle-slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: none;
    border: 1px solid #455a64;
}

/* żeby nie migało */
.cycle-slideshow img:first-child {
    display: block;
}
.cycle-overlay {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    z-index: 600;
    background: black; 
    color: white; 
    padding: 15px; 
    opacity: .5;
    display: none;
}
div.cycle-overlay {
    display: none;
}
div.cycle-overlay:first-child {
    display: block;
}
.cycle-pager > * { 
    cursor: pointer;
}
.cycle-pager img {
    margin: 0.3em;
    border: 1px solid #455a64;
}
@media all and (max-width: 600px) {
    footer {
        line-height: 50%;
    }
    #footer-right {
        text-align: left;
    }
    nav h2 + p {
        display: none;
        }
    nav div {
        min-height: 2em;
        font-size: xx-small;
        border-top: 1px solid #cfd8dc;
    }
}